<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User Profile</title>
	<link rel="stylesheet" href="/css/myprofile.css">
	<script src="https://kit.fontawesome.com/67afa8d00d.js" crossorigin="anonymous"></script>

</head>

<body>
	<div class="container">
		<main>
			<div class="profile-info">
				<div class="avatar">
					<img th:src="@{${avatarphoto}}" alt="User Avatar">
				</div>
				<div class="details">
					<h3 th:text="${fullname}">Full Name</h3>
					<p>
						<i class="fa-regular fa-envelope"></i>
						<span th:text="${email}" class="email">Email</span>
					</p>

					</p>
					<p>
						Trạng thái:
						<span class="status" th:text="${status}">Status</span>
						<i class="fa-regular fa-circle-check"></i>
					</p>



				</div>
				<div class="settings">
					<div class="settings-item">
						<button class="btn" onclick="window.location.href='/dashboard';">Trang chủ<i
								class="fa fa-home"></i></button>
					</div>
					<div class="settings-item">
						<button class="btn" onclick="window.location.href='/client/changepassword';">Đổi mật khẩu<i
								class="fa fa-lock"></i></button>
					</div>
					<div class="settings-item">
						<button class="btn">Xác minh 2 bước (2FA)<i class="fa-solid fa-user-shield"></i></button>
					</div>
					<div class="settings-item">
						<button class="btn" id="logoutBtn" onclick="window.location.href='/logout';">Đăng xuất<i
								class="fa-solid fa-arrow-right-from-bracket"></i></button>
					</div>
				</div>
			</div>
			<div class="password-change-form">
				<h4>THAY ĐỔI MẬT KHẨU</h4>
				<form action="/changepasswordmyprofile" method="POST" id="changePasswordForm">
					<div class="form-group">
						<label for="currentPassword">Mật khẩu hiện tại</label>
						<input type="password" id="currentPassword" name="currentPassword"
							placeholder="Nhập mật khẩu hiện tại" minlength="8" maxlength="100" required>
					</div>
					<div class="form-group">
						<label for="newPassword">Mật khẩu mới</label>
						<input type="password" id="newPassword" name="newPassword" placeholder="Nhập mật khẩu mới"
							minlength="8" maxlength="100" required>
					</div>
					<div class="form-group">
						<label for="confirmPassword">Xác nhận mật khẩu mới</label>
						<input type="password" id="confirmNewPassword" name="confirmNewPassword"
							placeholder="Xác nhận mật khẩu mới" minlength="8" maxlength="100" required>
					</div>
					<button type="submit">CẬP NHẬT MẬT KHẨU</button>
				</form>
				<div id="notification" class="notification" style="display: none;">
					<p id="notification-text"></p>
				</div>
			</div>
			<div class="modal" id="logoutModal">
				<div class="modal-content">
					<div class="modal-header">
						<h2>Xác nhận đăng xuất</h2>
					</div>
					<div class="modal-body">
						<p>Bạn có chắc chắn muốn đăng xuất không?</p>
					</div>
					<div class="modal-footer">
						<button id="confirmLogout">Đăng xuất</button>
						<button id="cancelLogout">Hủy</button>
					</div>
				</div>
			</div>

			<footer>
				<p>Need help? <a href="#">Contact Support</a></p>
			</footer>
		</main>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function () {
			$("#changePasswordForm").submit(function (event) {
				event.preventDefault();

				var formData = {
					currentPassword: $("#currentPassword").val(),
					newPassword: $("#newPassword").val(),
					confirmNewPassword: $("#confirmNewPassword").val()
				};

				$.ajax({
					type: "POST",
					url: "/changepasswordmyprofile",
					data: formData,
					success: function (response) {
						if (response.success) {
							$("#notification-text").html(response.successMessage);
							$("#notification").removeClass('error').addClass('success').show();

							setTimeout(function () {
								$("#notification").fadeOut();
								window.location.href = "/logout";
							}, 4000);
						} else if (response.error) {
							$("#notification-text").html(response.error);
							$("#notification").removeClass('success').addClass('error').show();

							setTimeout(function () {
								$("#notification").fadeOut();
							}, 3000);
						}
					},
					error: function (xhr, status, error) {
						$("#notification-text").html("Có lỗi xảy ra, vui lòng thử lại!");
						$("#notification").removeClass('success').addClass('error').show();

						setTimeout(function () {
							$("#notification").fadeOut();
						}, 3000);
					}
				});
			});
		});
	</script>


</body>